.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/osg.iml
.idea/workspace.xml
db.sqlite3
osg/__pycache__/wsgi.cpython-36.pyc
osg/__pycache__/key.cpython-36.pyc
osg/__pycache__/settings.cpython-36.pyc
osg/__pycache__/__init__.cpython-36.pyc
osg/__pycache__/urls.cpython-36.pyc
osg/key.py
main/__pycache__/views.cpython-36.pyc
main/__pycache__/urls.cpython-36.pyc
main/__pycache__/models.cpython-36.pyc
main/__pycache__/admin.cpython-36.pyc
main/__pycache__/__init__.cpython-36.pyc
main/migrations/__pycache__/__init__.cpython-36.pyc
main/migrations/__pycache__/0001_initial.cpython-36.pyc
venv/
